/*For StockInfo View
*/

#ticker-search-input-container {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

#container-input-txt {
    display: flex;
    flex-direction: column;
}
#page-stock-index {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}
#tickerinput {
}


.tooltip-text{
    visibility:hidden;
    color:black;
    position:absolute;
}

.tooltip:hover .tooltip-text{
    visibility:visible;
}
.filter-lbl {
    font-size:14px;
    color:gray;
}

.filter-chk{
    margin-right:auto;
}

#top-bar-search:hover {
    color: silver !important;
}

#tickers-list {
}

#getprices-search-btn {
}

#getprices-search-btn:hover {
    outline: 1px solid green;
}

#chart-container {
    outline: 1px solid #1E90FF;
}

svg{

}

#chart-tab{

}
#chart-tab-btn{

}

.chart-tab-btn:hover {
    background-color: royalblue;
}

#stats{

}



.tickerSearchVal{

}

.tickerSearchForm{

}
/*phones and smaller screens*/
@media (max-width:666px) {

    #page-stock-index {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    #ticker-search-input-container{
        display:flex;
        flex-direction:column;
        height:20%;
        width:100%;
    }
    #form-ticker-search {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    #container-input-txt {
        display: flex;
        flex-direction: row;
        width:30%;
        height:20%;
    }

    #container-input-txt #ticker-search-txt-input {
        width: 100%;
        margin-bottom: auto;
    }

    #radio-tf {
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        margin-right: auto;
        margin-bottom: auto;
    }
    #ticker-duration-slct-lbl {
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;

        margin-right: auto;
        margin-bottom: auto;
    }
    #ticker-search-duration-slct{
        margin-right:auto;
        margin-bottom:auto;
    }
    #ticker-search-btn {
        margin-right:auto;
        margin-bottom:auto;
        margin-left:auto;
    }
    /*#chart-container {
        height:75%;
        width:100%;
    }
*/
    #chart-area {
        width: 100%;
        height:95%;
    }
    
}


